* {
  margin: 0;
  padding: 0;
}

.grafico-linha {
  view-timeline: 100%;
}
.container-main {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
